#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  place-items: center;
}

.cat_main{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr; 
  grid-gap: 10px;
}

.exclude-breeds-list {
  text-align: center;
  flex: 1;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.cat_img{
  display: inline-block;
  max-height: 250px;
  max-width: 250px;
  margin: 1rem;
}

.cat_button{
  margin-top: 10px;
  padding: .5rem;
  margin: .5rem;
}

.cat_buttons{
  padding: .5rem;
  margin: .5rem;
}
